<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Roots Barber Shop" />
    <meta property="og:image" content="img/roots-logo-square.PNG" />
    <meta property="og:description"
        content="Roots is a traditional barber shop located in the heart of Devon, England." />
    <meta property="og:url" content="https://www.roots-barber-shop.co.uk" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <!-- Hover.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" type="text/css" />

    <!-- Google Fonts -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" />

    <!-- Simple Line Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/roots-favicon.PNG') }}" rel="shortcut icon" type="image/png" />

    <!-- Company Name -->
    <title>Roots Barber Shop</title>

</head>

<body>

    <header>

        <!-- Navigation Toggle -->
        <a class="menu-toggle rounded" href="#">
            <i class="fas fa-bars fa-2x hvr-grow"></i>
        </a>

        <!-- Navigation Menu -->
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">

                <!-- Logo -->
                <li class="sidebar-brand">
                    <a class="js-scroll-trigger" href="#page-top">
                        <img class="img-fluid nav-img" src="{{ url_for('static', filename='img/roots-favicon.PNG') }}"
                            alt="Roots Barber Logo">
                    </a>
                </li>

                <!--Navigation Links-->
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="{{ url_for('index') }}">Home</a>
                </li>

                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="{{ url_for('index', _anchor='about') }}">About</a>
                </li>

                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="{{ url_for('index', _anchor='portfolio') }}">Portfolio</a>
                </li>

                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="{{ url_for('index', _anchor='booking') }}">Book</a>
                </li>

                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="{{ url_for('index', _anchor='testimonials') }}">Testimonials</a>
                </li>

                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="{{ url_for('index', _anchor='contact') }}">Contact</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <h2 class="text-white mb-5">Find us on Social Media!</h2>
            <ul class="list-inline mb-5">

                <!--Facebook-->
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3 hvr-grow"
                        href="https://en-gb.facebook.com/rootsbarbershopNTD/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>

                <!--Instagram-->
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3 hvr-grow"
                        href="https://www.instagram.com/rootsbarbershop_/?hl=en-gb" target="_blank">
                        <i class="icon-social-instagram"></i>
                    </a>
                </li>

                <!--Booksy-->
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white hvr-grow"
                        href="https://booksy.com/en-gb/41440_roots-barbershop_barber-shop_1104409_north-tawton"
                        target="_blank">
                        <i class="fas fa-bold"></i>
                    </a>
                </li>
            </ul>

            <!--Roots Copyright-->
            <p class="small mb-0 text-white"> Copyright - All Rights Reserved - Roots Barber Shop © <span
                    id="copyright"></span></p>

            <!--Web Developer Info-->
            <p class="small mb-0 mt-1 text-white">Website Design by
                <a href="https://www.linkedin.com/in/lewis-wheeler-aa91791a0/" target="_blank"
                    class="text-decoration-none roots-green hvr-wobble-vertical">
                    Lewis Wheeler <i class="fab fa-linkedin"></i>
                </a>
            </p>
        </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a href="#top" class="btn-top to-top hvr-float shadow" title="Back to top">
        <i class="fas fa-angle-double-up text-white"></i>
    </a>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>