{% extends "base.html" %}
{% block content %}

  <!-- Page Heading & Logo -->
  <div class="masthead d-flex"></div>

  <!------ ABOUT SECTION ------>
  <section class="content-section" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">

          <!-- Heading -->
          <h2 class="font-weight-bold mb-5">Roots - A Traditional Barber Shop</h2>

          <!-- About Content -->
          <p class="lead mb-5 text-justify">We have been empowering and developing every gentleman’s distinct style for
            years of devoted experience in the industry, we know exactly how to make your first impressions count. One
            of the first things that people notice when they meet you is your hairstyle. Make sure you leave a great
            first impression!</p>

          <!-- Next Page Button -->
          <a class="btn roots-btn btn-xl js-scroll-trigger hvr-grow" href="#services">What We Offer</a>

        </div>
      </div>
    </div>
  </section>

  <!------ SERVICES SECTION ------>
  <section class="content-section bg-roots-custom text-white text-center" id="services">
    <div class="container">

      <!-- Heading -->
      <div class="content-section-heading">
        <h2 class="mb-5">What We Offer</h2>
      </div>

      <div class="row">

        <!-- Services 1 -->
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">

          <span class="service-icon rounded-circle mx-auto mb-3 pl-2">
            <i class="far fa-edit"></i>
          </span>

          <h4><strong>Bespoke Design</strong></h4>

          <p class="text-faded mb-0">Custom-tailored to suit your style & needs.</p>

        </div>

        <!-- Services 2 -->
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">

          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fas fa-cut"></i>
          </span>

          <h4><strong>Fresh Cut</strong></h4>

          <p class="text-faded mb-0">Fine attention to detail for the freshest look!</p>

        </div>

        <!-- Services 3 -->
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">

          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>

          <h4><strong>Articulate Styling</strong></h4>

          <p class="text-faded mb-0">Beard trims & shaves designed to impress.</p>
          
        </div>
        
        <!-- Services 4 -->
        <div class="col-lg-3 col-md-6">

          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fas fa-comments"></i>
          </span>

          <h4><strong>Expert Advice</strong></h4>

          <p class="text-faded mb-0">Quality industry expert advice on hair & products.</p>

        </div>
      </div>
    </div>
  </section>

{% endblock %}