{% extends "base.html" %}
{% block content %}

  <!-- Page Heading & Logo -->
  <div class="masthead d-flex"></div>

  <!-- About -->
  <section class="content-section" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">

          <!-- Heading -->
          <h2 class="font-weight-bold mb-5">Roots - A Traditional Barber Shop</h2>

          <!-- About Content -->
          <p class="lead mb-5 text-justify">We have been empowering and developing every gentleman’s distinct style for
            years of devoted experience in the industry, we know exactly how to make your first impressions count. One
            of the first things that people notice when they meet you is your hairstyle. Make sure you leave a great
            first impression!</p>

          <!-- Next Page Button -->
          <a class="btn roots-btn btn-xl js-scroll-trigger hvr-grow" href="#services">What We Offer</a>

        </div>
      </div>
    </div>
  </section>

{% endblock %}